<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <script type="text/javascript" src="jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="jquery-ui.min.js"></script>
    <link rel="stylesheet" href="jquery-ui.min.css"/>
    <link rel="stylesheet" href="styles.css"/>
    
    
    <script type="text/javascript" src="script.js"></script>
    
  <script>
  
  </script>
</head>
<body>
 <center>
     
<!--    <div id="draggable" class="ui-widget-content">
    </div>-->
     
    <span><a class="footer" href="http://www.ardamavi.com" target="_blank">Arda Mavi</a> - Satranç</span>
 </center>
</body>
</html>
